*{
    margin: 0;
    padding: 0;
}


:root{
    --darkness-gray: #B4B4B8;
    --lightness-gray: #C7C8CC;
    --clay: #E3E1D9;
    --cream: #F2EFE5;
    --font-color: #5C514E;
    --secondary-font-color: #1d1a19;
    --card-background: #f2efe50c;
    --menu-background: #f2efe54b;
    --line-color:#ca725eab;
    --buttons-color:#baa49c;
}



body{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/fondo-main.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: space-between;
}

/* MENU */

.menu{
    will-change: transform;
    background-color: var(--cream);
    width: 10%;
    height: 100vh;
    z-index: 1000;
    position: -webkit-sticky; /* Para navegadores webkit (Safari, Chrome) */
    position: sticky;
    top: 0; /* Altura en la que se volverá sticky */
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.61); /* Sombra en el lado derecho */
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; 
}

.navbar-menu{
    width: auto;
    height: 85%;
    display: flex;
    flex-direction: column;
}

.navbar-menu-icon{
    box-sizing: border-box;
    width: 100%;
    height: 10%;
}

.navbar-menu-cont{
    box-sizing: border-box;
    list-style: none;
    display: flex;
    width: 100%;
    height: 90%;
    align-items: end;
    margin: 3% 0;
    justify-content: center;
}


.navbar-menu-links{
    text-decoration: none;
    font-style: none;
    font-size: 75%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: bold;
    width: 100%;
}

.navbar-menu-links>li{
    width: 100%;
    height: 100%;
    border-bottom: solid 2px transparent;
    color: var(--font-color);
    transition: all .7s ease;
}

.navbar-menu-links>li:hover{
    color: var(--secondary-font-color); 
    border-bottom: solid 2px var(--secondary-font-color);
}


.navbar-menu-icon-link{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.menu-icon{
  width: 70%; 
  height: 70%;
  object-fit: contain;
}
/* ----------------------- */



/* MAIN GENERAL */

main{
    will-change: transform;
    display: flex;
    justify-content: center;

    width: 82%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    /* background-image: url(../../assets/fondo-main.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;    */
}
.container{
    box-sizing: border-box;
    width: 90%;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ------------------ */





/* TABLA */

.table{
    background-color: #f2efe582;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(3px);
}
.hidden_cart{
  left: 80%;
  transition: all 1s linear;
}
table {
    position:fixed;
    top: 8vh;
    left: 100%;
    width: 20%;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 1s linear;
}
th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: var(--font-color);
    color: white;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #e9ecef;
}
caption {
    caption-side: top;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
}

/* ----------------------- */



/* CARDS */
/* ----- Contendor de las cartas---------- */


#articles{
    overflow: scroll; 
    scrollbar-width: none; 
    -ms-overflow-style: none;
    scroll-behavior: smooth; 
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 2%;
    row-gap: 10%;
    height: 90%;
    justify-content: center;
    justify-items: center;
    overflow-y: scroll;
    box-sizing: border-box;
  }

/* ----- Estilo de las cartas---------- */
.card {
    --main-color: #000;
    --bg-color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    padding: 25px;
    width: 75%;
    height: 90%;
    background: var(--darkness-gray);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5% 0%;
  }
  
  
  
  .card__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .card__img {
    width: 60%;
    height: 100%;
    background: linear-gradient(90deg, #FFF8F7, #F0F7DF);
    border-radius: 100%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imgs{
    width: 70%;
    object-fit: contain;
    mix-blend-mode: multiply;
  }
  
  
  .card__title {
    text-align: center;
    font-weight: 600;
    font-size: 2vw;
    color: var(--main-color);
  }
  
  .card__subtitle {
    display: flex;
    box-sizing: border-box;
    margin: 0 2%;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    align-items: center;
    color: var(--main-color);
  }
  
  .card__price {
    display: flex;
    width: 10%;
    font-weight: bold;
    font-size: 20px;
    color: var(--main-color);
  }
  
  .card__counter {
    display: flex;
    justify-self: end;
    justify-content: right;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 6%;
    width: 75%;
    height: 110%;
    background: var(--bg-color);
    border-radius: 50px;
  }
  
  .card__counter-score, .card__btn {
    font-weight: 500;
    font-size: 1.5vw;
    color: var(--main-color);
  }

  .card__counter-score{
    width: 100%;
  }
  
  .card__btn {
    width: 15%;
    height: 10%;
    border-radius: 100%;
    border: none;
    background: var(--buttons-color);
  }

  .card__btn:hover{
    background-color: var(--line-color);
  }
  
  .card__btn-plus {
    margin-left: 2%;
  }

  .card__btn-minus{
    margin-right: 2%;
  }



/* ------- */




/* ESTILO DE BOTONES */
button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 0px solid transparent;
    background-color: var(--buttons-color);
    border-radius: 1.25em;
    transition: all 0.2s linear;
    color: #1d1a19;
   }
   
   button:hover {
    box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
     8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
     17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
     36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
     99px 72px 143px rgba(0, 0, 0, 0.08);
   }
   
   .tooltip {
    position: relative;
    display: inline-block;
   }
   
   .tooltip .tooltiptext {
    visibility: hidden;
    width: 4em;
    background-color: rgba(0, 0, 0, 0.601);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
   }
   
   .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.601) transparent transparent;
   }
   
   .tooltip:hover .tooltiptext {
    visibility: visible;
   }



/* --------------- */



/* INPUTS DE TABLA */



  /* CON ESTO QUITO LOS BOTONES PREDETERMINADOS DE INPUT TYPE NUMBER */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  
}

input[type=number]{
    width: 3ch;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}




/* ----- ASIDE SECTION ------- */
aside{
    width: 8%;
    height: 100vh;
    z-index: 1000;
    position: -webkit-sticky; /* Para navegadores webkit (Safari, Chrome) */
    position: sticky;
    top: 0; /* Altura en la que se volverá sticky */
    align-items: end;
    justify-content: end;
    display: flex;
    margin: 0;

}

#toggle_cart{
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 0;
    margin: 0;
    background-color: var(--card-background);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.5), 10px 0px 10px rgba(0, 0, 0, 0.5);
    transition: all .6s;
}

#toggle_cart:hover{
        box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
         8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
         17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
         36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
         99px 72px 143px rgba(0, 0, 0, 0.08);
    background-color: var(--clay);
}

.aside-cart{
    box-sizing: border-box;
    width: 100%;
    height: 15%;
    display: flex;
    align-content: end;
    justify-content: end;
    margin-right: 15%;
    margin-bottom: 15%;
}



.aside-cart-img{
    width: 70%; 
    height: 60%;
    object-fit: contain;
   
}

.aside-cart-img:hover{
    background-color: transparent;
}